<!DOCTYPE html>
<html>
  <head>
    <title>Poem's List</title>
    <link rel="stylesheet" href="/stylesheets/banner.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/poems">Home</a> |
      <a href="/poems/new">New Poem</a>
      <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
    </div><br>
    <div class="container">
      <img src="/images/banner.png" alt="banner">
      <h1 align="center"><u>Welcome <%=Helpers.name(session)%></u></h1>
    </div>
    <% if @poems.empty? %>
        <h2>Click below to compose your first poem:</h2>
        <a href='/poems/new' class="myButton">Start Composition</a><br>
    <% else %>
        <h1>Here are your written poems:</h1><br>
        <% @poems.each_with_index do |poem, index| %>
        <ol>
          <li> <h3 style ="text-transform:capitalize;"><%= poem.title %></h3></li>
          <li> <h4>Written On: <%=poem.created_at.strftime("%m-%d-%Y at %H:%M %p")%></h4></li>
        </ol><br>
        <a href='/poems/<%=index + 1%>' class="myButton">View Poem</a>
        <br>
      <h3>  *************************************************** </h3>
        <% end %>
    <% end %>
  </body>
</html>
