<h1>Welcome back!</h1>

<form method='post' action='/login'>
  <input type="string" placeholder='username' name='username'>
  <input type='password' placeholder='password' name='password'>
  <input type='submit' value='Login'>
</form>
