<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

    </div>
    <h3>Register</h3>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Username:">
      <br>
      <input type="text" name="email" placeholder="Email:">
      <br>
      <input type="password" name="password" placeholder="Password:">
      <br>
      <input type="submit" class="submit_button" value="Register">
    </form>
    <em style="color:black;font-size:12px;" >
    Existing authors: <a href="/login">login </a></em>
  </body>
</html>
