<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/banner.css">
  </head>
  <body>
  <div class="topnav">
    <a class="active" href="/parks">Home</a>
    <a href="/poems/new">New Poem</a>
    <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
  </div>
  <div class="container">
    <img src="/images/show.png" alt="show">
    <h1> Uhh Oh... </h1>
  </div>
    <h3> Looks like this poem wasn't created. </h3><br>
    <p> Click below to see all your poems </p>
    <a href='/poems' class="myButton">Poems List</a><br>
  </body>
</html>
