<!DOCTYPE html>
<html>
  <head>
    <title>Poem Not Created</title>
    <link rel="stylesheet" href="/stylesheets/banner.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
  <div class="topnav">
    <a class="active" href="/parks">Home</a>
    <a href="/poems/new">New Poem</a>
    <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
  </div>
  <div class="container">
    <img src="/images/error.png" alt="show">
    <h1> Uhh Oh... </h1>
  </div>
    <h3> Looks like this poem wasn't created. </h3><br>
    <p> Click below to see all your poems </p>
    <a href='/poems' class="myButton">Poems List</a><br>
  </body>
</html>
