</<!DOCTYPE html>
<html>
  <head>
    <title>Lee"s Space</title>
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="../../public/stylesheets/main.css">
  </head>
  <body>
    <img src="images/logo.png" alt="logo">
    <h1 align="center">Welcome to a place to express yourself through Poems.</h1>
    <button type="button" onclick="window.location.href='/login'">Login</button>
    <br>
    <button type="button" onclick="window.location.href='/register'">Register</button>
  </body>
</html>
