<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <p>Welcome to Lee's Space, Here you can express yourself in the form of a poem.</p>
      <a href='/login'>Login</a><br>
      <a href='/users/new'>Register</a>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
